<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.paladin.qos.dynamic.mapper.yiyuan.score.lianxuxing.MedicalRecordHomeMapper">

    <select id="getTotalNum" resultType="long">
        SELECT
        CASE WHEN count(1) > 0 THEN 1 ELSE 0 END AS total
        FROM firstpagemedicalrecord
        WHERE IN_HP_DT >= #{startTime}
        AND IN_HP_DT  <![CDATA[<]]>  #{endTime}
    </select>
</mapper>
