<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.qos.dynamic.mapper.yiyuan.opd.OpdStatisticsMapper">

	<!-- 门诊人次数 -->
	<select id="outpatientNum" resultType="long">
		select count(1) from RegisterRecord 
		where OP_EM_MARK='1' and REC_DT &gt;= #{startTime} and REC_DT &lt; #{endTime} 
	</select>

	<!-- 急诊人次数 -->
	<select id="emergencyNum" resultType="long">
		select count(1) from RegisterRecord 
		where OP_EM_MARK='2' and REC_DT &gt;= #{startTime} and REC_DT &lt; #{endTime} 
	</select>

	<!-- 门急诊人次数 -->
	<select id="OPDTotal" resultType="long">
		select count(1) from RegisterRecord 
		where REC_DT &gt;= #{startTime} and REC_DT &lt; #{endTime} and organ_code =#{unitId}
	</select>
	
	<!-- 门急诊使用药品数 -->
	<select id="OPDDrugxyTotal" resultType="long">
		select count(1) from WM_PrescriptionDetails where (OP_EM_HP_MARK ='1' OR OP_EM_HP_MARK='2') and 
		RX_DT &gt;= #{startTime} and RX_DT &lt; #{endTime} and organ_code =#{unitId}
	</select>
	<select id="OPDDrugzyTotal" resultType="long">
		select count(1) from CM_PrescriptionDetails where (OP_EM_HP_MARK ='1' OR OP_EM_HP_MARK='2') and
		RX_DT &gt;= #{startTime} and RX_DT &lt; #{endTime} and organ_code =#{unitId}
	</select>
	
	<!-- 门急诊药品总费用(元) -->
	<select id="OPDMoneyTotal" resultType="long">
		select coalesce(sum(cost_02),0) from ED_Outpa_Inpa_Charge_Stat 
		where stat_date &gt;= #{startTime} and stat_date &lt; #{endTime} and organ_code =#{unitId}
	</select>
	
	<!-- 住院人次 -->
	<select id="HospitalizationNumber" resultType="long">
		select count(1) from inhospitalrecord 
		where HP_DATE &gt;= #{startTime} and HP_DATE &lt; #{endTime} and organ_code =#{unitId}
	</select>
	
	<!-- 住院患者使用药品数 -->
	<select id="HospitalizationDrugTotal" resultType="long">
		select count(1) from DoctorAdviceRecord 
		where IF_DRUG ='1' and ODRISU_DT &gt;= #{startTime} and ODRISU_DT &lt; #{endTime} and organ_code =#{unitId}
	</select>
	
	<!-- 住院药品总费用(元) -->
	<select id="HospitalizationMoneyTotal" resultType="long">
		select coalesce(sum(cost_02),0) from ED_Outpa_Inpa_Charge_Stat 
		where stat_date &gt;= #{startTime} and stat_date &lt; #{endTime} and organ_code =#{unitId}
	</select>

	<!-- 实际开放床日数 -->
	<select id="publicBedDayTotal" resultType="long">
		select coalesce(sum(p_o_bed),0)
		from in_workload
		where rcd_dt <![CDATA[>= ]]> #{startTime}
		and rcd_dt <![CDATA[< ]]> #{endTime}
	</select>

	<!-- 实际占用床日数 -->
	<select id="useBedDayTotal" resultType="long">
		select coalesce(sum(p_oc_bed),0)
		from in_workload
		where rcd_dt <![CDATA[>= ]]> #{startTime}
		and rcd_dt <![CDATA[< ]]> #{endTime}
	</select>
	
	<!-- 支付方式-医保  -->
	<select id="paymentMethodMedical" resultType="long">
		select count(1) from PersonalInformation where PAYMENT_MODE in('01','02','03') 
		and update_date &gt;= #{startTime} and update_date &lt; #{endTime} 
	</select>
	
	<!-- 支付方式-自费  -->
	<select id="paymentMethodOwn" resultType="long">
		select count(1) from PersonalInformation where PAYMENT_MODE in('04','05','06','07','08','99') 
		and update_date &gt;= #{startTime} and update_date &lt; #{endTime} 
	</select>
	
	<!-- 药品收入 -->
	<select id="drugIncome" resultType="long">
	 select  COALESCE (SUM(COST_01_10) ,0)+COALESCE (SUM(COST_02_10) ,0)from ED_Outpa_Inpa_Charge_Stat 
     where STAT_DATE  &gt;= #{startTime} and STAT_DATE &lt; #{endTime}
	</select>
	
	<!-- 其他收入 -->
	<select id="otherIncome" resultType="long">
	 select  COALESCE (SUM(COST_99) ,0)+COALESCE (SUM(COST_02_99) ,0)from ED_Outpa_Inpa_Charge_Stat 
     where STAT_DATE  &gt;= #{startTime} and STAT_DATE &lt; #{endTime} 
	</select>
	
	<!-- 医疗收入 -->
	<select id="medicalIncome" resultType="long">
	  select sum(TOTAL_COST)-((COALESCE (SUM(COST_99) ,0)+COALESCE (SUM(COST_02_99) ,0))+(COALESCE (SUM(COST_01_10) ,0)+COALESCE (SUM(COST_02_10) ,0))) 
	  from ED_Outpa_Inpa_Charge_Stat where STAT_DATE  &gt;= #{startTime} and STAT_DATE &lt; #{endTime}  
	</select>
	
	<!-- 患者列表（查询当前时间前2天的数据） -->
	<!-- <select id="patientList" resultType="">
	 select m.organ_code,m.organ_name,m.Dpt_Code,m.dpt_name,m.name,m.sex,m.See_Doc_Dt,m.Md_Dis_Code,m.md_dis_name from MedicalRecord m 
     where m.see_doc_dt >=trunc(sysdate-2) and  m.see_doc_dt < trunc(sysdate-1)
	</select> -->
	
</mapper>
